<div >
    <section class="hero-section">
        <div class="hero-content">
          <h1>Welcome to Job Hunter</h1>
          <p>Discover the best companies to work for in the U.S. and take the first step towards your dream job!</p>
          <a routerLink="/companieslist" routerLinkActive="active" class="btn btn-primary">Explore Top Companies</a>
        </div>
      </section>
    
      <section class="companies-section">
        <div class="container">
          <h2>Top U.S. Companies</h2>
    
          <div class="company-cards">
            <div class="company-card">
              <img src="assets/Apple.png" alt="Apple Logo" />
              <h3>Apple</h3>
              <p>Apple is one of the largest technology companies, famous for its innovative products like the iPhone, iPad, and MacBooks.</p>
            </div>
    
            <div class="company-card">
              <img src="assets/Google.png" alt="Google Logo" />
              <h3>Google</h3>
              <p>Google is a multinational technology company specializing in internet-related services and products, including search engines, advertising, and cloud computing.</p>
            </div>
    
            <div class="company-card">
              <img src="assets/Microsoft.png" alt="Microsoft Logo" />
              <h3>Microsoft</h3>
              <p>Microsoft is a global leader in software development and cloud services, with its well-known products like Windows, Office Suite, and Azure.</p>
            </div>
    
            <div class="company-card">
              <img src="assets/IBM.png" alt="IBM Logo" />
              <h3>IBM</h3>
              <p>IBM, or International Business Machines Corporation, is an American multinational company that specializes in cloud computing, AI, and computer hardware.</p>
            </div>
          </div>
        </div>
      </section>
    
      <footer>
        <p>&copy; 2024 Job Hunter. All rights reserved.</p>
      </footer>
    
    
    
</div>
  