<div class="companylistcontainer table-bordered">
    <search-bar (search)="onSearch($event)"></search-bar>
    <add-company routerLink="/addcompanyform" routerLinkActive="active"></add-company>

    <table *ngIf="!nomatchingdata" class="table">
        <thead>
            <th>ID</th>
            <th>Company</th>
            <th>Description</th>
            <th>Last Applied</th>
            <th>Status</th>
            <th>Link</th>
        </thead>
        <tbody>
            <tr *ngFor="let c of paginatedData();let i=index" >
                <td class="Id">{{i+1+((currentPage-1) * this.pageSize)}}</td>
                <td class ="edit"><span *ngIf="UserRole=='Admin'" class="fas fa-edit" (click)="editcompanyform(c)"></span>{{c.organization}}</td>
                <td class="desc">{{c.description|companyDataFilter:'description'}}</td>
                <td class="lastapplied" >{{c.lastApplied|companyDataFilter:'lastapplied'}}</td>
                <td class="status">{{c.status|companyDataFilter:'status'}}</td>
                <td><a [href]="c.link">{{c.link}}</a></td>
            </tr>
        </tbody>
    </table>

    <div class="pagination" *ngIf="!nomatchingdata">
        <button (click)="PrevClicked()">Prev</button>
        <div>
            {{currentPage}} of {{totalPages}}
        </div>
        <button (click)="NextClicked()">Next</button>
    </div>

    <div class="nomatchingdata" *ngIf="nomatchingdata">
        <h1>No Matching Data</h1>
    </div>
    <div *ngIf="!filtercompanies.length" class="loading-container">
        <div class="spinner"></div>
    </div>
</div>

