<form [formGroup]="registerform" >
    <div>
        <div class="registerform">
            <h2>Register Form</h2> 

                <label for="username" class="col-form-label">Username</label>
                <div >
                    <input  type="text" 
                            class="form-control" 
                            id="registerusername"
                            formControlName="username">
                </div>

                <label for="password" class="col-form-label">Password</label>
                <div >
                    <input  type="password" 
                            class="form-control" 
                            id="registerpassword"
                            formControlName="password">
                </div>

                <label for="email" class="col-form-label">Email</label>
                <div>
                    <input  type="email" 
                            class="form-control" 
                            id="registeremail"
                            formControlName="email">
                </div>
                <div class="paynow" >
                    <checkout [payNowButtonActive]="registerform.invalid" *ngIf="!allowToRegister" [registerDetails]="registerform.value" ></checkout>           
                </div>
           
     
            <div class="col-sm-8">
                <button [disabled]="!allowToRegister" (click)="OnRegister()" class="btn btn-primary">Register</button>
            </div>
            <div *ngIf="allowToRegister" class="toast-success">
                <i class="fa fa-smile fa-2x success-smile"></i>
                <h5>Payment Successful</h5>
                <p>Now you can Register! <i class="fa fa-check"></i></p>            
            </div>
            <div *ngIf="registerResponse=='fail'" class="toast-failure">

                <i class="fa fa-frown fa-2x"></i><h5>Payment Unsuccessful</h5>
                <p>Please try after some time</p>
            </div>
            <div class="empty">
            </div>
        </div>
        
       
    </div>
    

</form>




<router-outlet></router-outlet>