<form [formGroup]="registerform" (ngSubmit)="OnRegister()">
    <div>
        <div class="registerform">
            <h2>Register Form</h2> 

                <label for="username" class="col-form-label">Username</label>
                <div >
                    <input  type="text" 
                            class="form-control" 
                            id="registerusername"
                            formControlName="username">
                </div>

                <label for="password" class="col-form-label">Password</label>
                <div >
                    <input  type="password" 
                            class="form-control" 
                            id="registerpassword"
                            formControlName="password">
                </div>

                <label for="email" class="col-form-label">Email</label>
                <div>
                    <input  type="email" 
                            class="form-control" 
                            id="registeremail"
                            formControlName="email">
                </div>
                <div class="paynow">
                    <checkout></checkout>           
                </div>
           
     

            <div class="col-sm-8">
                <button [disabled]="registerResponse!='success'" type="submit" class="btn btn-primary">Register</button>
            </div>
            <div *ngIf="registerResponse == 'success'" class="toast-success">
                Now you can click on register!
            </div>
            <div class="empty">
            </div>
        </div>
        
       
    </div>
    

</form>


<!-- <popupwindow [isVisible]="isModalVisible" (onClose)="closeModal()"></popupwindow> -->


<router-outlet></router-outlet>