<div class="modal" (click)="closeModal()" [ngClass]="{ 'is-active': notificationMessage }" role="dialog" aria-live="assertive">
  <div class="modal-background" role="presentation"></div>
  <div class="modal-content">
    <div class="box">
      <!-- Success Notification -->
      <h4 *ngIf="notificationMessage === 'Email sent successfully!'" class="success-message">
        Email sent successfully!
        <i class="fa fa-smile fa-2x success-smile" aria-hidden="true"></i>
      </h4>
      
      <!-- Failure Notification -->
      <h4 *ngIf="notificationMessage === 'Email Failed!'" class="error-message">
        Email Failed!
      <i class="fa fa-frown fa-2x error-smile" aria-hidden="true"></i>
      </h4>

      <!-- Approval Pending Notification -->
      <h4 *ngIf="notificationMessage === 'Email Approval Waiting!'" class="approval-waiting-message">
         <h3> Account Approval Pending!
          </h3>  
          <p> Since the email address you registered is not from Gmail, your account is pending administrator approval. 
              Thank you for your patience while the process is completed.
          </p>

          <h6>Email us at: 
            <a href="mailto:jobhuntertechteam@gmail.com" aria-label="Email Job Hunter support team">
                jobhuntertechteam&#64;gmail.com
            </a>
          </h6>
          <h4>Thank You!          
            <i class="fa fa-smile fa-2x success-smile" aria-hidden="true"></i>
          </h4>
      </h4>

        <!-- Account Verification Pending Notification -->
        <h4 *ngIf="notificationMessage === 'Email verification pending!'" class="approval-waiting-message">
          <h3> Account Verification Pending!
           </h3>  
           <p>  Account verification is required. Please check your email and verify your account to proceed. 
                Once verified, kindly wait for the administrator's approval. 
           </p>
 
           <h6>Email us at: 
             <a href="mailto:jobhuntertechteam@gmail.com" aria-label="Email Job Hunter support team">
                 jobhuntertechteam&#64;gmail.com
             </a>
           </h6>
           <h4>Thank You!          
             <i class="fa fa-smile fa-2x success-smile" aria-hidden="true"></i>
           </h4>
 
       </h4>

       <h4 *ngIf="notificationMessage === 'Downloaded successfully!'" class="approval-waiting-message">
        <h3> Downloaded Successfully!</h3>  

         <h6>Email us at: 
           <a href="mailto:jobhuntertechteam@gmail.com" aria-label="Email Job Hunter support team">
               jobhuntertechteam&#64;gmail.com
           </a>
         </h6>
         <h4>Thank You!          
           <i class="fa fa-smile fa-2x success-smile" aria-hidden="true"></i>
         </h4>

     </h4>

     <h4 *ngIf="notificationMessage === 'No Resume Data!'" class="approval-waiting-message">

      <h3> Your profile is incomplete.</h3> <br> 
      <h5>Please create your profile before downloading the resume</h5>

       <h6>Email us at: 
         <a href="mailto:jobhuntertechteam@gmail.com" aria-label="Email Job Hunter support team">
             jobhuntertechteam&#64;gmail.com
         </a>
       </h6>
       <h4>Thank You!          
         <i class="fa fa-smile fa-2x success-smile" aria-hidden="true"></i>
       </h4>

    </h4>

    <h4 *ngIf="notificationMessage === 'No Resume Created!'" class="approval-waiting-message">

      <h3> Please build your resume first!</h3> <br> 
      <h6>There is no recent resume that is created under your profile</h6>
       <h6>Email us at: 
         <a href="mailto:jobhuntertechteam@gmail.com" aria-label="Email Job Hunter support team">
             jobhuntertechteam&#64;gmail.com
         </a>
       </h6>
       <h4>Thank You!          
         <i class="fa fa-smile fa-2x success-smile" aria-hidden="true"></i>
       </h4>

    </h4>

    </div>
  </div>
</div>
