<div class="referenceform">
    <form [formGroup]="referenceform">
        <h2>
            Referal Form
        </h2>
        <div class="">
            <label for="name" class="col-form-label">Referral Name</label>
            <div >
                <input  type="text" 
                        class="form-control" 
                        id="referralname" 
                        formControlName="name"
                        [ngClass]="referenceform.value.name!=currentreferncedetails.name ? 'dirty-field' : ''">
            </div>
        </div>

        <div class="">
            <label for="organization" class=" col-form-label">Organization</label>
            <div class="">
                <input  type="text" 
                        class="form-control descriptionbox" 
                        id="organization" 
                        formControlName="organization"
                        [ngClass]="referenceform.value.organization!=currentreferncedetails.organization ? 'dirty-field' : ''">
            </div>
        </div>

        <div class="">
            <label for="position" class="col-form-label">Position</label>
            <div class="">
                <input  type="text" 
                        class="form-control" 
                        id="position" 
                        formControlName="position"
                        [ngClass]="referenceform.value.position!=currentreferncedetails.position ? 'dirty-field' : ''">
            </div>
        </div>

        <div class="">
            <label for="email" class="col-form-label">Email</label>
            <div class="">
                <input  type="text" 
                        class="form-control" 
                        id="email" 
                        formControlName="email"
                        [ngClass]="referenceform.value.email!=currentreferncedetails.email ? 'dirty-field' : ''">
            </div>
        </div>

        <div class="" *ngIf="!updatebtn">
            <button type="submit" 
                    (click)="Onsubmit()" 
                    class="btn btn-primary"
                    [disabled]="referenceform.value.name.trim()==0 || referenceform.value.organization.trim()==0 ||
                                referenceform.value.position.trim()==0 || referenceform.value.email.trim()==0">Add Referrer</button>
        </div>
        
        <div class="row mb-3" *ngIf="updatebtn">
            <button (click)="Update()" [disabled]="!checkForValueChange()"  class="btn btn-primary col-mb-3 udbtn">Update</button>
            <button (click)="Delete()" class="btn btn-danger col-mb-3 udbtn">Delete</button>
        </div>
    </form>
</div>
