<div class="referenceform">
    <form [formGroup]="referenceform" (ngSubmit)="Onsubmit()">
        <h2>
            Referal Form
        </h2>
        <div class="">
            <label for="referralname" class="col-form-label">Referral Name</label>
            <div >
                <input type="text" class="form-control" id="referralname" formControlName="referralname">
            </div>
        </div>

        <div class="">
            <label for="organization" class=" col-form-label">Organization</label>
            <div class="">
                <input type="text" class="form-control descriptionbox" id="organization" formControlName="organization">
            </div>
        </div>

        <div class="">
            <label for="position" class="col-form-label">Position</label>
            <div class="">
                <input type="text" class="form-control" id="position" formControlName="position">
            </div>
        </div>

        <div class="">
            <label for="email" class="col-form-label">Email</label>
            <div class="">
                <input type="text" class="form-control" id="email" formControlName="email">
            </div>
        </div>

        <div class="" *ngIf="!updatebtn">
            <button type="submit" class="btn btn-primary">Add Referrer</button>
        </div>
        
        <div class="row mb-3" *ngIf="updatebtn">
            <button (click)="Update()" class="btn btn-primary col-mb-3 udbtn">Update</button>
            <button (click)="Delete()" class="btn btn-danger col-mb-3 udbtn">Delete</button>
        </div>
    </form>
</div>
