<navbar></navbar>

<div class="companies-description">
  <img class="bgimage" src="assets/bg1.png" alt="Background Image">

  <section class="home-section">
      <div class="home-content">
        <h1>Welcome to Job Hunter</h1>
        <p>Discover the best companies to work for in the U.S. and take the first step towards your dream job!</p>
        <p routerLink="/companieslist" routerLinkActive="active" class="btn btn-primary">Explore Top Companies</p>
      </div>
  </section>
  
  <section class="companies-section">
      <div class="container">
        <h2>Top U.S. Companies</h2>
        <div class="company-cards">
          <div *ngFor="let company of companyCards" class="company-card">
            <img [src]="company.logo" [alt]="company.name + ' Logo'" />
            <h3>{{ company.name }}</h3>
            <p>{{ company.description }}</p>
          </div>
        </div>
      </div>
  </section>
</div>

<learning-portal></learning-portal>      
<discussion-forum></discussion-forum>

<!-- Footer Section -->
<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-section support-team">
        <h4>Support Team</h4>
        <p>If you have any questions or need assistance, feel free to reach out to our support team.</p>
        <p>Email us at: <a href="mailto:jobhuntertechteam@gmail.com" aria-label="Email Job Hunter support team">jobhuntertechteam&#64;gmail.com</a></p>
      </div>
    </div>
    <div class="footer-section">
      <p>&copy; 2024 Job Hunter. All rights reserved.</p>
    </div>
  </div>
</footer>

<router-outlet></router-outlet>
