<navbar></navbar>
<app-portfolio ></app-portfolio>
 <!-- Job Board Footer -->
 <footer class="footer" >
  <div class="container">
    <div class="footer-content">
      <!-- Support Team Section -->
      <div class="footer-section support-team">
        <h4>Support Team</h4>
        <p>If you have any questions or need assistance, feel free to reach out to our support team.</p>
        <p>Email us at: <a href="mailto:jobhuntertechteam@gmail.com">jobhuntertechteam&#64;gmail.com</a></p>
      </div>
    </div>
    <div>
      <p>&copy; 2024 Job Hunter. All rights reserved.</p>
    </div>
  </div>
</footer>
  

<div class="modal" (click)="closeModal()" [ngClass]="{ 'is-active': notificationMessage }">
  <div class="modal-background" ></div>
  <div class="modal-content">
    <div class="box">
      <h4 *ngIf="notificationMessage=='Email sent successfully!'">{{notificationMessage}}<i class="fa fa-smile fa-1x success-smile"></i></h4>
      <h4 *ngIf="notificationMessage=='Email Failed!'">{{notificationMessage}}<i class="fa fa-frown fa-1x success-smile"></i></h4>
    </div>
  </div>
</div>



<router-outlet></router-outlet>