<div class="">
  <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/login">
        JobHunter
      </a>

      <div class="collapse navbar-collapse justify-content-evenly" id="navbarNavDropdown">
        <ul class="navbar-nav fs-2 ">
          <li *ngIf="!IsloggedIn" class="nav-item">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/companieslist" routerLinkActive="active">Companies</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/references" routerLinkActive="active">References</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>
