<div class="companyform">
    <form [formGroup]="companyform" >
        <h2>
            Add Company
        </h2>
        <div class="">
            <label for="organization" class="col-form-label">Organization Name</label>
            <div class="">
            <input  type="text" 
                    class="form-control" 
                    id="organizationname"
                    formControlName="organization"
                    [ngClass]="companyform.value.organization!=currentcompanydetails.organization? 'dirty-field' : ''">
                </div>
        </div>
        <div class="">
            <label for="description" class="col-form-label">Description</label>
            <div class="">
                <textarea 
                    class="form-control descriptionbox" 
                    id="description"
                    formControlName="description"
                    rows="4" 
                    placeholder="Enter your description here..."
                    [ngClass]="companyform.value.description!=currentcompanydetails.description? 'dirty-field' : ''">
                </textarea>
            </div>
        </div>
        

        <div class="">
            <label for="lastapplied" class="col-form-label">Last Applied</label>
            <div class="">
            <input  type="date" 
                    class="form-control" 
                    id="lastapplied"
                    formControlName="lastapplied"
                    [ngClass]="checklastapplieddirty() ? 'dirty-field' : ''">
            </div>
        </div>
        <div >
            <div class="radio-line" [ngClass]="companyform.value.status!=currentcompanydetails.status ? 'dirty-field' : ''">
                <input class="statusradio" 
                        type="checkbox" 
                        id="lastapplied"
                        formControlName="status">
                <label  for="status" class="col-form-label">Applied</label>                
            </div>
        </div>

        <div class="" *ngIf="!updatebtn">
            <button type="submit" 
                    (click)="Onsubmit()" 
                    class="btn btn-primary"
                    [disabled]="companyform.value.organization.trim()==0 || companyform.value.description.trim()==0">Add</button>
        </div>
        <div class="" *ngIf="updatebtn">
            <button (click)="ConfirmUpdate()" [disabled]="!checkForValueChange()" class="btn btn-primary udbtn">Update</button>
            <button (click)="ConfirmDelete()" class="btn btn-danger udbtn ">Delete</button>
        </div>
    </form>
</div>





<!-- Confirmation Modal for Update -->
<div class="modal" [ngClass]="{ 'is-active': isUpdateForm }">
    <div class="modal-background" (click)="closeModal()"></div>
    <div class="modal-content">
      <div class="box">
        <h3>Confirm</h3>
        <p>Are you sure you want to update company details?</p>
        <div class="modal-footer">
            <button class="button is-primary" (click)="Update()">Yes</button>
            <button class="button is-primary" (click)="closeModal()">Cancel</button>
        </div>
      </div>
    </div>
 </div>

 <!-- Confirmation Modal for Update -->
<div class="modal" [ngClass]="{ 'is-active': isDeleteForm }">
    <div class="modal-background" (click)="closeModal()"></div>
    <div class="modal-content">
      <div class="box">
        <h3>Confirm</h3>
        <p>Are you sure you want to Delete company details?</p>
        <div class="modal-footer">
            <button class="button is-primary" (click)="Delete()">Yes</button>
            <button class="button is-primary" (click)="closeModal()">Cancel</button>
        </div>
      </div>
    </div>
 </div>