<div class="modal" [ngClass]="{ 'is-active': isVisible }">
    <div class="modal-background" (click)="closeModal()"></div>
    <div class="modal-content">
      <div class="box">
        <h3>Account Pending Approval</h3>
        <p>Please wait until the administrator approves your account.</p>
        <button class="button is-primary" (click)="closeModal()">Close</button>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close" (click)="closeModal()"></button>
  </div>