.resume-generator{
    margin-top: 20%;
}

.My-own-resume{
    display: block;
    width: fit-content;
    padding:1%;
    background-color: #0e3d77;
    margin: 10%;
    color: #ffffff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}