<div class="referencelist ">
    <search-bar (search)="onSearch($event)"></search-bar>

    <div class="ref-header-btns">
        <add-reference-button  routerLink="/addreferenceform" routerLinkActive="active"></add-reference-button>
        <send-email-button routerLink="/sendreferalemail" routerLinkActive="active"></send-email-button>        
    </div>
 <table *ngIf="!nomatchingdata" class="table table-bordered">
            <thead>
                <th class="col-sm-3">Name</th>
                <th class="col-sm-3">Organization</th>
                <th class="col-sm-3">Position</th>
                <th class="col-sm-3">Email</th>
            </thead>
            <tbody>
                <tr *ngFor="let c of paginatedData">
                <td class ="edit"><span *ngIf="UserRole=='Admin'" class="fas fa-edit" (click)="editrefernceform(c)"></span>{{c.name}}</td>
                <td>{{c.organization}}</td>
                <td>{{c.position}}</td>
                <td (click)="SendMail(c.email)"><i class="fas fa-envelope email-td"></i> {{c.email|maskEmail:UserRole}}</td>
                </tr>
            </tbody>
        </table>

        <div class="pagination" *ngIf="!nomatchingdata">
            <button (click)="PrevClicked()">Prev</button>
            <div>
                {{currentPage}} of {{totalPages}}
            </div>
            <button (click)="NextClicked()">Next</button>
        </div>

        <div class="nomatchingdata" *ngIf="nomatchingdata">
            <h1>No Matching Data</h1>
        </div>

</div>

