<section class="forums-section">
  <div class="container">
    <h2 class="section-title">Discussion Forums</h2>
    <p class="section-description">Join the conversation and explore topics on various technologies, programming, and more.</p>

    <div class="forum-posts">
      <div class="forum-post" *ngFor="let post of displayedforumPosts;let index=index">
        <div class="individual-forum-post">
          <img  class="postprofilepicture" *ngIf="post.postprofilepic" [src]="post.postprofilepic"   
                (error)="setDefaultImage($event)"          >
          <div class="individual-forum-header">
            <div class="forum-header">
              <div class="pic-title">
                <h3 style="white-space: pre;" class="forum-title">{{ post.title | titlecase }}</h3>
              </div>
              <div class="forum-author">
                Posted By {{ post.author }} on {{ post.posted_date | date: 'short' }}
                <div class="menu-container" *ngIf="post.user_id==authService.email" >
                  <button class="dots-btn" (click)="toggleMenu($event,index)">
                    <i class="fas fa-ellipsis-v"></i> 
                  </button>
                  <div class="menu-options" *ngIf="menuOpen && postindex ==index">
                    <div (click)="onEditPost(post.post_id)">Edit</div>
                    <div (click)="onDeletePost(post.post_id)">Delete</div>
                  </div>
                </div>
              </div>
            </div>
            
            <p style="white-space: pre; background-color: inherit; color:inherit" class="forum-summary">{{ post.summary }}</p>
    
            <!-- Replies section inside each post -->
            <div class="replies" *ngIf="post.replies.length>0">
              <h4>Replies:</h4>
              <div *ngFor="let reply of post.replies" class="reply-item">
                <div class="reply-header">
                  <img class="profilepicture" *ngIf="reply.replyprofilepic" [src]="reply.replyprofilepic" (error)="setDefaultImage($event)">
                  <p>Replied By {{ reply.username }} on {{ reply.replied_on | date: 'short' }}</p> 
                  <small>
                    <span class="icon-actions" *ngIf="reply.user_id==authService.email" >
                        <i *ngIf="reply.user_id==authService.email" class="fa fa-edit" (click)="EditReply(reply.reply_id,reply.post_id,index)"></i>
                        <i *ngIf="reply.user_id==authService.email" class="fa fa-trash" (click)="deleteReply(reply.reply_id,reply.post_id)"></i>
                    </span>
                  </small>
                </div>
                <div class="reply-summary" style="white-space: pre;">
                  {{ reply.reply_summary }}

                </div>
                  
              </div>
            </div>
    
            <div class="forum-footer">
              <button class="btn-reply" 
                      (click)="openReply(index)"
                      *ngIf="!(showreplymodal && postindex ==index)" 
                      >
                Reply</button>
              <span class="forum-date">{{ post.date | date: 'short' }}</span>
            </div>

                <!-- INLINE Reply Form -->
          <div *ngIf="showreplymodal && postindex ==index" class="reply-section-inline">
            <h4>Reply to this Post</h4>
            <textarea  style="white-space: pre; " [(ngModel)]="replyContent" placeholder="Write your reply here..."></textarea>
            <div class="replymodalbtns">
              <button *ngIf="!updatebtn" class="submit-btn" (click)="submitReply(post.post_id)">Submit Reply</button>
              <button *ngIf="updatebtn" class="submit-btn" (click)="UpdateReply()">Update Reply</button>
              <button class="cancel-btn" (click)="closeModal()">Cancel</button>
            </div>
          </div>

        </div>
    </div>
        
  

        

   
        </div>
      </div>

    <div *ngIf="forumPosts.length > 2 && forumPosts.length>currentdisplayedposts" class="view-more-container">
      <h4 (click)="this.currentdisplayedposts=this.currentdisplayedposts+2" class="view-more-button">
        {{ showAllPosts ? 'View Less' : 'View More' }}
      </h4>
    </div>

    <!-- Create Post Button -->
    <div class="btn-create-post" (click)="opencreatepostform()">Create New Post</div>
  </div>
</section>



<div *ngIf="showModal" class="createform-modal-overlay" (click)="createformCloseModal($event)">
  <div class="createform-modal-content">
    <div class="createform-create-post-form">
      <h2>{{createformtitle}}</h2>
      <form class="createform-form">
        <label for="title">Title:</label>
        <input style="white-space: pre; " type="text" [(ngModel)]="this.newPost.title" name="title" required>
        <label for="summary">Summary:</label>
        <textarea style="white-space: pre; background-color: inherit;color:inherit"  name="summary" [(ngModel)]="this.newPost.summary" required></textarea>
        <button *ngIf="!updatecreateformbtn" class="createform-btn" (click)="createPost()"  type="submit">Create Post</button>
        <button *ngIf="updatecreateformbtn" class="createform-btn" (click)="onEditPostSubmit(newPost.post_id)" type="submit">Update Post</button>

      </form>
    </div>
  </div>
</div>





