 <section class="forums-section">
  <div class="container">
    <h2 class="section-title" routerLink="/discussionforum" routerLinkActive="active">Discussion Forums</h2>
    <p class="section-description">Join the conversation and explore topics on various technologies, programming, and more.</p>

    <div class="forum-posts">
      <div class="forum-post" *ngFor="let post of displayedforumPosts">
        <div class="forum-header">
          <h3 class="forum-title">{{ post.title }}</h3>
          <span class="forum-author">Posted by: {{ post.author }}   
            <i *ngIf="post.user_id==authService.email" class="fa fa-edit" (click)="EditPost(post.post_id)"></i>       
            <i *ngIf="post.user_id==authService.email" class="fa fa-trash" (click)="deletePost(post.post_id)"></i> 
          </span>
        </div>
       
        <p class="forum-summary">{{ post.summary }}</p>
        <div class="forum-footer">
          <button class="btn-reply" (click)="openPost(post.id)">
            Reply</button>
            
          <span class="forum-date">{{ post.date | date: 'short' }}</span>
        </div>
      </div>
    </div>

    <div *ngIf="forumPosts.length > 2 && forumPosts.length>currentdisplayedposts" class="view-more-container">
      <h4 (click)="this.currentdisplayedposts=this.currentdisplayedposts+2" class="view-more-button">
        {{ showAllPosts ? 'View Less' : 'View More' }}
      </h4>
    </div>

    <!-- Create Post Button -->
    <div  class="btn-create-post" (click)="opencreatepostform()">Create New Post</div>
    
  </div>
</section>
