<div class="container">
    <div>
        <div class="sendmail-header">
            <div class="radio-btns">
                <div class="col-mb-3 radio-input">
                    <input  class="allrecruitersradio" 
                            type="radio" 
                            id="allrecruiters"
                            [(ngModel)]="mailselection"
                            value="recruiters">
                    <label for="status" class="col-mb-3 allrecruitersradiolabel">All Recruiters</label>                
                </div>
            
                <div class="col-mb-3 radio-input">
                    <input  class="allrecruitersradio" 
                            type="radio" 
                            id="allemployees"
                            [(ngModel)]="mailselection"
                            value="employees">
                    <label for="status" class="col-mb-3 allrecruitersradiolabel">All Employees</label>                
                </div>
            </div>
            <button class="sendemailbtn">
                <i class="fas fa-paper-plane"></i> Send Email
            </button>

        </div>
        
        <div >
            <input 
                type="text" 
                class="form-control multiplemailsearchbox" 
                [(ngModel)]="inputText" 
                (input)="filterSuggestions()" 
                (keydown)="onKeyDown($event)" 
                placeholder="Enter Company Name..."
               />
              <div *ngIf="filteredSuggestions.length > 0" class="suggestions">
                    <div class="suggestions-item" 
                    *ngFor="let suggestion of filteredSuggestions;let i=index" 
                    (click)="selectSuggestion(suggestion)"
                    [class.selected]="i ==selectedIndex">
                            {{ suggestion.name}} ( {{suggestion.organization}} )
                  </div>

              </div>
          </div>
          <div class="tags-container">
            <span 
              *ngFor="let tag of tags; let i = index" 
              class="tag">
              {{ tag }} 
              <i class="fas fa-times close-icon" (click)="removeTag(i)"></i>
            </span>
          </div>
    </div>
    
    
   
</div>

