<form #loginform="ngForm" (ngSubmit)="onLogin(loginform)">
    <div class="loginform">
        <h2>Login</h2> 

        <div class="row mb-6">
            <label for="username" class="col-sm-8 col-form-label">Username</label>
            <div >
                <div class="input-wrapper">
                    <i class="fas fa-user"></i> 
                    <input  type="text" 
                            name="username" 
                            [(ngModel)]="loginCredential.username" 
                            class="form-control" 
                            id="logineusername" 
                            placeholder="Enter your username">
                </div>
            </div>
        </div>

        <!-- Password field with icon -->
        <div class="row mb-6">
            <label for="password" class="col-sm-8 col-form-label">Password</label>
            <div >
                <div class="input-wrapper">
                    <i class="fas fa-lock"></i> <!-- FontAwesome lock icon -->
                    <input  type="password" 
                            name="password" 
                            [(ngModel)]="loginCredential.password"
                            class="form-control" 
                            id="loginpassword" 
                            placeholder="Enter your password">
                </div>
            </div>
        </div>

        <!-- Login button -->
        <div class="row mb-3">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>

        <!-- Register link -->
        <div class="registerlink" routerLink="/registerform" routerLinkActive="active">
            <a href="#">Register</a>
        </div>
    </div>
</form>
<router-outlet></router-outlet>
