<form #loginform="ngForm" (ngSubmit)="onLogin(loginform)">
    <div class="loginform">
        <div class="row mb-3">
            <label for="username" class="col-sm-2 col-form-label">username</label>
            <div class="col-sm-10">
            <input  type="username" 
                    name="username" 
                    [(ngModel)]="loginCredential.username" 
                    class="form-control" 
                    id="logineusername">
            </div>
        </div>
        <div class="row mb-3">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
            <input  type="password" 
                    name="password" 
                    [(ngModel)]="loginCredential.password"
                    class="form-control" 
                    id="loginpassword">
            </div>
        </div>
        <div class="row mb-3">
            <button type="submit" class="btn btn-primary">Login</button>
        </div>
        <div class="registerlink" routerLink="/registerform" routerLinkActive="active">
            Register
        </div>
    </div>

</form>
<router-outlet></router-outlet>

