<form #loginform="ngForm">
    <div class="loginform">
        <h2>Login</h2> 
        <div class="row mb-6">
            <div >
                <div class="input-wrapper">
                    <i class="fas fa-user"></i> 
                    <input  type="text" 
                            name="username" 
                            [(ngModel)]="loginCredential.username" 
                            class="form-control" 
                            id="logineusername" 
                            placeholder="Enter your username">
                </div>
            </div>
        </div>

        <!-- Password field with icon -->
        <div class="row mb-6">
            <div >
                <div class="input-wrapper">
                    <i class="fas fa-lock"></i> <!-- FontAwesome lock icon -->
                    <input  type="password" 
                            name="password" 
                            [(ngModel)]="loginCredential.password"
                            class="form-control" 
                            id="loginpassword" 
                            placeholder="Enter your password">
                </div>
            </div>
        </div>

        <!-- Login button -->
        <div class="">
            <button type="submit" (click)="onLogin(loginform)" class="btn btn-primary">Login</button>
        </div>

        <!-- Register link -->
        <div class="registerlink" routerLink="/registerform" routerLinkActive="active">
            <a>Register</a>
        </div>
    </div>
</form>

<router-outlet></router-outlet>
