.SendEmail{
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10%;
    margin: 5%;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
}

.ebody{
    height: 200px;
    font-family: 'Roboto', sans-serif;
}